<article id="<%= book.id %> " class="bookdisplay">
  <img src="<%= book.image_url %>">

  <h2>
      <%= book.title %>
  </h2>
  <h3>
      <%= book.author %>
  </h3>
  <p>
      <%= book.description %> 
  </p>
</article>